**/node_modules
**/.turbo
.pnpm-store
**/.pnpm-store
.envio
**/.envio
.env
.env.*
**/.env
**/.env.*
build
**/build
**/dist
coverage
**/coverage
**/.DS_Store
**/.git
**/.gitignore
**/.dockerignore
**/.eslintrc.json
**/README.md
.github
.vscode
apps/indexer/scripts/*.test.mjs
