# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next/
out/
build/
dist/

# Cache
.eslintcache
.tsbuildinfo

# Coverage
coverage/

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
